 .banner {
    background-image: url('./bg1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .mainban {
    color: white;
    padding-top: 250px;
    text-align: right;
  }
  
  .ban {
    font-size: 2.7rem;
    margin-bottom: 1rem;
    padding: 10px;
    font-family: 'Trebuchet MS';
    color: black;
    margin-left: 550px;
  }
  
  .banbtn {
    background: rgb(253, 73, 2);
    color: aliceblue;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 300px; 
  }
  
  
  .banbtn:hover {
    color: black;
    background: rgb(245, 245, 116);
  }
  
  /* Media Query for smaller screens */
  @media only screen and (max-width: 768px) {
    .mainban {
        padding-top: 150px; /* Adjust padding for smaller screens */
    }
    
    .ban {
        font-size: 2rem; /* Adjust font size for smaller screens */
    }

    .banbtn {
        margin-left: 0; /* Reset margin for smaller screens */
        margin-top: 20px; /* Adjust margin for smaller screens */
    }
}
@media only screen and (max-width: 500px) {
  .mainban {
      display: none; /* Adjust padding for smaller screens */
  }
  
  .ban {
      font-size: 2rem; /* Adjust font size for smaller screens */
      display: none;
  }
}